<h1>hello</h1>

<p> Post Id =  <%= params[:post_id]%> </p>

<br>
<% @comments.each do |comment| %>
<div class="posts">
  <div class="viq">
    <div class="order pcol">
      <p>1</p>
    </div>

    <div class="votes pcol">
      <img class ="arrow" src="img/up.png">
      <p>4556</p>
      <img class ="arrow" src="img/down.png">
    </div>

    <div class="post-image pcol">
      <img class="square-img" src="<%= image_url('user_place.jpg')%>">
    </div>
  </div>

  <div class="post-content pcol">

    <p class=""><%= comment.content %></p>
    <div class="post-attributes">
      <div class="post_by">
        <p>comment by - <%= comment.user.user_name %></p>
      </div>

    </div>
  </div>
</div>
<% end %>
