<h1>hellow</h1>


<br>
<% @posts.each do |post| %>
<div class="posts">
  <div class="viq">
    <div class="order pcol">
      <p>1</p>
    </div>
  </div>

  <div class="post-content pcol">

    <p class=""><%= post.comment.content %></p>
    <p>USER ID = <%= post.title %></p>
    <p>Comment by: <%= post.user.user_name %></p>
<p> This is the param post_id: <%= params[:post_id] %>

  </div>
</div>
<% end %>
